<div class="modal-wrap material-profile">
	<div class="modal-inner material-profile">

		<h3>{{this.name}}</h3>

		{{{cloudinaryUrl this.image.url width='60%'}}}
	
		<p>{{this.info}}</p>

		<div class="button-group">
			<input id="back-btn" data-keep_enabled="true" class="minimal submit" type="submit" name="submit" value="back">
		</div>

	</div>
</div>
